[submodule "dev/LLM"]
	path = dev/LLM
	url = https://github.com/GiJeongCho/gemma31b_service.git
	branch = main
[submodule "dev/stt"]
	path = dev/stt
	url = https://github.com/GiJeongCho/whisperX.git
	branch = main
[submodule "dev/speech_recognize"]
	path = dev/speech_recognize
	url = https://github.com/GiJeongCho/speech_recognize.git
	branch = main
[submodule "dev/ocr"]
	path = dev/ocr
	url = https://github.com/GiJeongCho/OCR.git
	branch = main
[submodule "dev/embedding"]
	path = dev/embedding
	url = https://github.com/GiJeongCho/embedding.git
	branch = main
